@import url('https://fonts.googleapis.com/css2?family=Noto+Sans&family=Poppins&family=Rubik:wght@500&display=swap');

*, *::before, *::after {
    box-sizing: border-box;
}

*:focus:not(:focus-visible) {
    outline: none;
}

html {
    font-size: 62.5%;
}

.header-wrapper {
    z-index: 10;
    position: sticky;
    top:0;
    background-color: #cc5658;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #f5f0f0
}

.header-logo{
    display: flex;
    align-items: center;
}

.header-logo img{
    width: 25rem;
    height: 15rem;
}

.header-text {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    margin-left: 3rem;
}

.header-text h1 {
    margin: 0;
    font-size: 2.5rem;
}

.header-text h3 {
    margin: 0;
    font-size: 1.4rem;
}

.header-text a {
    text-decoration: none;
    color: #f5f0f0;
}

.header-menu a img{
    width: 4.6rem;
    height: 4.6rem;
    margin-right: 2.5rem;
}

.home-page-wrapper {
    display: flex;
    margin-top: 2.3rem;
}

.home-page-menu {
    position: sticky;
    top: 6.5rem;
    width: 22rem;
    margin-top: 2.5rem;
    background-color: #ffe7ef50;
    box-shadow: .1rem 0.05rem 0.35rem rgb(83, 82, 82);
    height: 45.5rem;
    border-radius: 2%;
}

.menu-root {
    display: flex;
    margin-top: 0.2rem;
    max-height: 6.5rem;
    padding: 0.6rem 1.6rem;
}

.menu-root img {
    margin-right: 1rem;
    height: 2.5rem;
    width: 2.5rem;
}

.menu-info{
    font-family: "Fredoka", sans-serif;
    font-size: 1.6rem;
    box-sizing: border-box;
}

.menu-info a{
    text-decoration: none;
    color: rgb(39, 37, 37);
}

.menu-subinfo{
    display: block;
    margin-top: .5rem;
    font-size: 1rem;
}

.home-page-center{
    display: flex;
    flex-wrap:wrap;
    padding: 0 9.5rem;
    width: 144rem;
    flex-direction: row;
    max-width: calc(100% - 22rem);
}

.home-page-center a{
    text-decoration: none;
}

.product-block {
    border-radius: 10%;
    margin-top: 2.5rem;
    margin-left: 5rem;
    height: 30rem;
    width: 30rem;
}

.product-block-image img{
    height: 20rem;
    width: 30rem;
}

.product-block:hover {
    box-shadow: 0 5px 15px rgba(0,0,0,0.3);
}

.product-block-name {
    text-align: center;
    color: #4e4a4a;
    font-size: 1.5rem;
    font-family: "Noto Sans", sans-serif;
    margin-top: 1rem;
}

.product-block-cost{
    color: #dd1b1e;
    font-size: 1.5rem;
    font-weight: 700;
    font-family: "Poppins", sans-serif;
    margin-top: .5rem;
}

.product-description-button{
    position:absolute;
	bottom:0;
    right: 0;
}

.buybtn {
    background-color: #f8665c;
    color: white;
    border: none;
    border-radius: 10%;
    width: 75%;
    padding: 1rem 1.2rem;
    margin-top: 0.5rem;
    opacity: 0.9;
}

.buybtn:hover{
    opacity:1;
}