{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'normalize.css'%}">
    <link rel="stylesheet" href="{% static 'style1.css'%}">
    <title>Регистрация</title>
</head>
<body>
    <form>
        <div class="container">
          <h1>Регистрация</h1>
          <p>Зарегистрируйте новый аккаунт.</p>
          <hr>
      
          <label for="login"><b>Логин</b></label>
          <input type="text" placeholder="Логин" name="login" required>
      
          <label for="psw"><b>Пароль</b></label>
          <input type="password" placeholder="Пароль" name="psw" required>
      
          <label for="psw-repeat"><b>Повторите Пароль</b></label>
          <input type="password" placeholder="Повторите Пароль" name="psw-repeat" required>
          <hr>
      
          <button type="submit" class="registerbtn">Зарегистрироваться</button>
        </div>
      
        <div class="container signin">
          <p>Уже есть аккаунт? <a href="/registration/login">Войти</a>.</p>
        </div>
      </form>
</body>
</html>