{% load static %}

{% block title %}
  <title>Корзина</title>
  <link rel="stylesheet" href="{% static 'normalize.css'%}">
  <link rel="stylesheet" href="{% static 'style2.css'%}">
{% endblock %}

{% block content %}
  <header>
    <h1>Корзина покупок</h1>
  </header>
  <table class="cart">
    <thead class="row-title">
      <tr>
        <th>Картинка</th>
        <th>Товар</th>
        <th>Обновить кол-во</th>
        <th>Удалить</th>
        <th>Кол-во</th>
        <th>Цена за шт</th>
        <th>Общая стоимость</th>
      </tr>
    </thead>
    <tbody class="row-body">
      {% for item in cart %}
        {% with product=item.product %}
          <tr>
            <td class="menu-root">
              <a href="{{ product.get_absolute_url }}">
                <img src="{% if product.photo %}{{ product.photo.url }}{% else %}{% static 'img/no_image.png' %}{% endif %}">
              </a>
            </td>
            <td>{{ product.name }}</td>
            <td>
              <form action="{% url 'cart:cart_add' product.id %}" method="post">
                <input type="submit" value="добавить">
                {% csrf_token %}
              </form>
            </td>
            <td><a href="{% url 'cart:cart_remove' product.id %}">Удалить</a></td>
            <td>
              {{ item.quantity }}
            </td>
            <td class="num">₽{{ item.price }}</td>
            <td class="num">₽{{ item.total_price }}</td>
          </tr>
        {% endwith %}
      {% endfor %}
      <tr class="total">
        <td>Всего</td>
        <td colspan="4"></td>
        <td class="num">₽{{ cart.get_total_price }}</td>
      </tr>
    </tbody>
  </table>
  <p class="text-center">
    <a href="/" class="button light">В магазин</a>
    <a href="#" class="button">Оформить заказ</a>
  </p>
{% endblock %}